@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Kaushan+Script&family=Lobster&family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Merriweather&family=Playfair+Display:wght@500&family=Roboto+Slab&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Roboto Slab', serif; */

/* #EBDCCC */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


nav {
    width: 100vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 21;
    background: linear-gradient(90deg, rgba(255, 20, 145, 0.6), rgba(255, 20, 147, 0.6));
}

.burger {
    display: none;
    background-color: white;
    color: deeppink;
    font-size: 1.7rem;
    padding: 0.2vw;
    position: absolute;
    right: 3%;
    top: .8rem;
    border-radius: 5vw;
}

nav a {
    position: relative;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 1.6vw;
    z-index: 23;
    margin: 0px 2.5vw;
    letter-spacing: 0.5px;
}

nav a::after {
    content: "";
    position: absolute;
    background: black;
    height: 3px;
    width: 0;
    z-index: 1;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease-in-out;
}

nav a:hover {
    color: black;
}

nav a:hover::after {
    width: 100%;
}

nav a:focus::after {
    width: 100%;
}

/* END */


/* SLIDER */
.hero {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 47vw;
}

.images {
    overflow: hidden;
    display: flex;
    width: 100vw;
}

.images input {
    display: none;
}

.images img {
    width: 100vw;
    height: auto;
    transition: all 1s ease;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label {
    height: 20px;
    cursor: pointer;
    border: solid dodgerblue 3px;
    width: 20px;
    border-radius: 50%;
    transition: all 0.15s ease;
    margin: 5px;
}

.dots label:hover {
    background-color: dodgerblue;
}


#img1:checked~.i1 {
    margin-left: 0;
}

#img2:checked~.i2 {
    margin-left: -100%;
}

#img3:checked~.i3 {
    margin-left: -200%;
}

#img4:checked~.i4 {
    margin-left: -300%;
}

/* END */

.visit_now {
    position: absolute;
    top: 23vw;
    font-family: 'Merriweather', serif;
    font-size: 1.5vw;
    width: 41vw;
    left: 8vw;
}

.visit_now h1 {
    color: deeppink;
    font-family: 'Merriweather', serif;
    margin-bottom: 0.6vw;
    font-weight: lighter;
}

.marg {
    font-family: 'Roboto Slab', serif;
    margin: 1.7vw 0px;
}

.visit_us {
    background-color: white;
    width: 10vw;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    height: 3vw;
    font-weight: bold;
    border: none;
    color: deeppink;
    font-size: 1.4vw;
    padding: 0.3vw;
}

.opo {
    opacity: 1;
}

.visit_us:hover {
    color: white;
    background: linear-gradient(90deg, rgba(255, 20, 145, 0.4), rgba(255, 20, 147, 0.4));
}

.flexible {
    height: 8vh;
}