@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Merriweather&family=Playfair+Display:wght@500&family=Roboto+Slab&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (min-width: 601px) and (max-width: 1000px) {

    table {
        width: 80%;
    }

    th {
        height: 6vw;
        font-size: 2vw;

    }

    td {
        height: 5.5vw;
        font-size: 2vw;
    }


    .burger {
        display: none;
    }

    .con {
        flex-direction: column;
    }

    .con h1 {
        font-size: 3.6vw;
    }

    .more {
        height: 3vw;
        width: 100%;
        font-size: 2.5vw;
        top: 44vw;
    }

    .minfo {
        font-family: 'Roboto Slab', serif;
        font-weight: 100;
        padding: 0;
        margin-right: 6%;
    }

    .form1 {
        width: 100vw;
        margin: 0px auto;
    }

    .rightimg {
        display: flex;
        width: 85vw;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-evenly;
        gap: 5vw;
    }

    .info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .open {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1vw;
    }

    .conr {
        width: 100vw;
        margin: 3vw auto;
    }


    /* APPOINTMENT */
    .appointment {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .img1 {
        height: 49vw;
        width: 33vw;
        margin: 0px auto;
        margin-bottom: 3vw;
    }

    .app {
        width: 100vw;
        margin: 0px auto;
    }

    .mainappointment h1 {
        font-size: 3.6vw;
    }

    .mainappointment h2 {
        font-size: 3.6vw;
    }

    .spiderman textarea {
        width: 57vw;
        height: 17vw;
        font-size: 2.4vw;
    }

    .elasticman {
        height: 7.7vw;
        width: 70vw;
        margin: 1vw auto;
    }

    .spiderman {
        width: 70vw;
        height: 20vw;
        margin: 1vw auto;
    }

    .elasticman input {
        width: 57vw;
        height: 7.7vw;
        font-size: 2.3vw;
    }

    .apple {
        margin: 2.22vw 2vw;
    }


    .our input {
        width: 35vw;
        height: 7.7vw;
        font-size: 2.4vw;
    }

    .open li {
        font-size: 2.6vw;
    }

    .icon {
        height: 3rem;
        width: 3rem;
        margin: 10px 1.1vw;
    }

    .ico {
        margin: .9rem;
    }

    .btn1 {
        height: 4.7vw;
        font-size: 2.3vw;
        width: 16vw;
    }

    .email {
        margin-right: 0px;
        height: 7.7vw;
        width: 70vw;
        margin: 1vw auto;
    }

    .email input {
        width: 57vw;
        height: 6.7vw;
        font-size: 2.3vw;
    }

    .message {
        height: 20vw;
        width: 70vw;
        margin: 2vw auto;
    }

    .message textarea {
        width: 57vw;
        height: 17vw;
        font-size: 2.4vw;
    }

    .row {
        flex-direction: column;
    }

    .name {
        margin-right: 0px;
        height: 7.7vw;
        width: 70vw;
        margin: 0vw auto;
        margin-bottom: 1vw;
    }

    .phone {
        margin-right: 0px;
        height: 7.7vw;
        width: 70vw;
        margin: 1vw auto;
    }

    .abcd {
        margin: 1vw 14vw;
        width: 44vw;
        height: 7.7vw;
    }


    .team h2 {
        font-size: 3.2vw;
    }


    .team h1 {
        font-size: 3.6vw;
    }

    /* END */
    .middle {
        left: 22%;
        font-size: 4.2vw;
    }

    /* AUTOSLIDER */
    .album {
        width: 75%;
    }

    .service h1 {
        font-size: 3.6vw;
    }

    .seth {
        font-size: 2vw;
    }

    .square {
        height: 48vw;
        width: 35vw;
    }

    .gallery h1 {
        font-size: 3.6vw;
    }

    .symbol {
        left: 44%;
        top: 20.3vw;
        height: 5.5vw;
        width: 5.5vw;
        border-radius: 3.5vw;
    }

    .sym {
        font-size: 2.4vw;
        margin: 1.5vw;
    }

    .brock {
        top: 21.5vw;
    }

    .rock {
        padding: 0vw 2vw;
        top: 27vw;
        font-size: 1.9vw;
    }

    .peacemaker {
        top: 25vw;
        font-size: 2.4vw;
    }

    .john {
        top: 17vw;
    }

    .cena {
        top: 23vw;
    }

    .roman {
        top: 26vw;
    }

    nav {
        height: 7vw;
        position: relative;
        width: 95vw;
    }

    nav a {

        font-size: 2vw;
    }

    a {
        font-size: 2.2vw;
    }


    .row input {
        width: 57vw;
        height: 6.7vw;
        font-size: 2.3vw;
    }

    .visit_now {
        left: 4vw;
        width: 44vw;
        font-size: 2vw;
    }

    .visit_now h1 {
        font-size: 3vw;
    }

    .visit_us {
        width: 13vw;
        height: 4vw;
        font-size: 1.9vw;
    }

    .boxes .box {
        height: 19.9vw;
        width: 31vw;
    }

    .boxes {
        gap: 5vw;
    }

    .flexible {
        height: 8vh;
    }

    .opo {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    table {
        width: 85%;
    }

    th {
        height: 7vw;
        font-size: 3vw;

    }

    td {
        height: 6vw;
        font-size: 3vw;
    }

    .flexible {
        height: 32vw;
    }

    /* 500px IS INCLUDED */
    .con {
        flex-direction: column;
    }

    .house {
        margin: 5vw auto;
        height: 71vw;
        width: 48vw;
    }

    .minfo {
        font-family: 'Roboto Slab', serif;
        font-weight: 100;
        margin-right: 6%;
    }

    .photo {
        flex-direction: column;
    }

    .con h1 {
        font-size: 5.2vw;
    }

    .burger {
        top: 1vh;
        display: block;
    }

    .form1 {
        width: 100vw;
        margin: 0px auto;
    }

    .info {
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .open {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1vw;
    }

    .conr {
        width: 100vw;
        margin: 3vw auto;
    }


    /* APPOINTMENT */
    .appointment {
        flex-wrap: wrap;
        flex-direction: column;
    }



    .app {
        width: 100vw;
        margin: 0px auto;
    }

    .mainappointment h1 {
        font-size: 5.2vw;
    }

    .mainappointment h2 {
        font-size: 5.2vw;
    }

    .spiderman textarea {
        width: 57vw;
        height: 17vw;
        margin: 1vh 0vh;
        font-size: 3.1vw;
    }

    .elasticman {
        height: 10vw;
        width: 85%;
        margin: 1vw auto;
    }

    .spiderman {
        width: 85%;
        height: 23vw;
        margin: 1vw auto;
    }

    .elasticman input {
        width: 57vw;
        height: 7.7vw;
        font-size: 3vw;
    }

    .apple {
        font-size: 3.4vw;
        margin: 2.22vw 2vw;
    }



    .our input {
        width: 63vw;
        height: 7.7vw;
        font-size: 3.5vw;
    }

    .abcd {
        width: 70vw;
        height: 7.7vw;
    }

    .open li {
        font-size: 4.2vw;
    }

    .more {
        height: 5vw;
        width: 100%;
        font-size: 3.8vw;
        top: 78vw;
    }

    .icon {
        height: 9vw;
        width: 9vw;
        margin: 10px 1.1vw;
    }

    .ico {
        font-size: 3.3vw;
        margin: 2.8vw;
    }

    .btn1 {
        height: 7.7vw;
        font-size: 4vw;
        width: 23vw;
    }

    .email {
        margin-right: 0px;
        height: 10vw;
        width: 85%;
        margin: 1vw auto;
    }

    .email input {
        width: 57vw;
        height: 6.7vw;
        font-size: 3vw;
    }

    .message {
        height: 23vw;
        width: 85%;
        margin: 2vw auto;
    }

    .message textarea {
        width: 61vw;
        margin: 1vw;
        height: 17vw;
        font-size: 3.1vw;
    }

    .row {
        flex-direction: column;
    }

    .name {
        margin-right: 0px;
        height: 10vw;
        width: 85%;
        margin: 0vw auto;
        margin-bottom: 1vw;
    }

    .phone {
        margin-right: 0px;
        height: 10vw;
        width: 85%;
        margin: 1vw auto;
    }

    .abcd {
        margin: 1vw auto;
        width: 85%;
        height: 9vw;
    }

    .row input {
        width: 57vw;
        height: 7.7vw;
        font-size: 3vw;
    }

    .team h2 {
        font-size: 4.5vw;
    }

    .img1 {
        height: 70vw;
        width: 47vw;
        margin: 4vw auto;
    }

    .team h1 {
        font-size: 5.2vw;
    }

    /* END */
    .middle {
        left: 15%;
        font-size: 5.2vw;
    }

    /* AUTOSLIDER */
    .album {
        width: 75%;
    }

    .service h1 {
        font-size: 5.2vw;
    }

    .seth {
        font-size: 3vw;
    }

    .square {
        height: 85vw;
        width: 65vw;
    }

    .gallery h1 {
        font-size: 5.2vw;
    }

    .symbol {
        left: 44%;
        top: 38.3vw;
        height: 9.5vw;
        width: 9.5vw;
        border-radius: 5.5vw;
    }

    .sym {
        font-size: 4.4vw;
        margin: 2.5vw;
    }

    .brock {
        top: 40.4vw;
    }

    .rightimg {
        width: 78vw;
    }

    .rock {
        top: 49vw;
        padding: 0vw 4vw;
        font-size: 3.2vw;
    }

    .peacemaker {
        top: 46vw;
        font-size: 4vw;
    }

    .john {
        top: 32vw;
    }

    .cena {
        top: 41vw;
    }

    .roman {
        top: 47vw;
    }



    nav {
        opacity: 0;
        position: relative;
        width: 100vw;
        height: 6vh;
        flex-direction: column;
    }

    a {
        margin: 1.2vw 0;
        font-size: 2.8vw;
    }

    nav a {
        font-size: 3vw;
        margin: 1vw 2.5vw;
    }

    .marg {
        font-family: 'Roboto Slab', serif;
        margin: 4.7vw 0px;
        color: black;
    }

    .visit_now {
        top: 0;
        color: dimgray;
        position: relative;
        left: 0vw;
        margin: 3vw auto;
        text-align: center;
        width: 87vw;
        font-size: 3.2vw;
    }

    .visit_now h1 {
        font-size: 4.5vw;
    }

    .visit_us {
        width: 21vw;
        height: 6vw;
        font-size: 2.7vw;
    }

    .boxes .box {
        height: 28.9vw;
        width: 44vw;
    }

    .boxes {
        width: 100vw;
        margin: 5vw auto;
        gap: 5vw;
    }

    .opo {
        opacity: 1;
    }
}